{{!< default}}

<main class="content" role="main">

    {{#foreach posts}}
        <article class="post {{post_class}}">

            <header class="post-header">
                <h1><a href="{{url}}">{{{title}}}</a></h1>
                <p class="post-timestamp"><a href="{{url}}"><time datetime="{{date format="YYYY-MM-DD HH:mm:ss"}}">{{date format="DD MMM YYYY H:mm"}}</time></a></p>
            </header>
            <div class="avatar">
                <a href="{{author.website}}" title="{{author.name}}"><img src="{{author.image}}"></a>
            </div>

            {{content}}

        </article>

        {{#if @last}}
        <div id="foot">
            <p>This is <a class="title" href="{{author.website}}">{{author.name}}</a>’s <a href="{{@blog.url}}">journal</a>.</p>
        </div>
        {{/if}}
    {{/foreach}}

</main>
